---
title: API Docs
---
{% assign sorted_collections = site.collections | sort: "position_number" %}
{% for collection in sorted_collections %}
{% assign sorted_docs = collection.docs | sort: "position_number" %}
{% for doc in sorted_docs %}
<section class="doc-content">
    <section class="left-docs">
        <h3>
            <a id="{{ doc.id | replace: '/', '' | replace: '.', '' }}">
                {{ doc.title }}
                {% if doc.type %}
                <span class="endpoint {{ doc.type }}"></span>
                {% endif %}
            </a>
            <a class="editor-link" href="cloudcannon:collections/{{ doc.relative_path }}">Edit</a>
        </h3>
        {% if doc.desc %}
        <p class="description">{{ doc.desc }}</p>
        {% endif %}

        {% if doc.auths and doc.auths[0].key %}
        <h6><b>Authorization</b> <span class="description">{{ doc.auth_type }}</span></h6>
        <table>
            <thead>
            <tr>
                <th style="text-align:center;">KEY</th>
                <th style="text-align:center;">VALUE</th>
                <th style="text-align:center;">DESCRIPTION</th>
            </tr>
            </thead>
            <tbody>
            {% for item in doc.auths %}
            <tr>
                <td style="text-align:center;"><b>{{ item.key }}</b></td>
                <td style="text-align:center;color:#28B463;"><b>{{ item.value }}</b></td>
                <td style="text-align:center;color:#99A3A4"><b>{{ item.desc }}</b></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if doc.path_vars and doc.path_vars[0].key %}
        <h6><b>Path Variables</b></h6>
        <table>
            <thead>
            <tr>
                <th style="text-align:center;">KEY</th>
                <th style="text-align:center;">VALUE</th>
                <th style="text-align:center;">REQUIRED</th>
                <th style="text-align:center;">DESCRIPTION</th>
            </tr>
            </thead>
            <tbody>
            {% for item in doc.path_vars %}
            <tr>
                <td style="text-align:center;"><b>{{ item.key }}</b></td>
                <td style="text-align:center;color:#3498DB;"><b>{{ item.value }}</b></td>
                <td style="text-align:center;color:#DE3163;"><b>✔</b></td>
                <td style="text-align:center;color:#99A3A4"><b>{{ item.desc }}</b></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if doc.params and doc.params[0].key %}
        <h6><b>Request Params</b></h6>
        <table>
            <thead>
            <tr>
                <th style="text-align:center;">KEY</th>
                <th style="text-align:center;">VALUE</th>
                <th style="text-align:center;">REQUIRED</th>
                <th style="text-align:center;">DESCRIPTION</th>
            </tr>
            </thead>
            <tbody>
            {% for item in doc.params %}
            <tr>
                <td style="text-align:center;"><b>{{ item.key }}</b></td>
                <td style="text-align:center;color:#3498DB;"><b>{{ item.value }}</b></td>
                <td style="text-align:center;color:#DE3163;"><b>{% if item.required %} ✔ {% endif %}</b></td>
                <td style="text-align:center;color:#99A3A4"><b>{{ item.desc }}</b></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if doc.body_fields and doc.body_fields[0].key %}
        <h6><b>Body</b> <span class="description">{{ doc.body_type }}</span></h6>
        <table>
            <thead>
            <tr>
                <th style="text-align:center;">KEY</th>
                <th style="text-align:center;">TYPE</th>
                <th style="text-align:center;">REQUIRED</th>
                <th style="text-align:center;">DESCRIPTION</th>
            </tr>
            </thead>
            <tbody>
            {% for item in doc.body_fields %}
            <tr>
                <td style="text-align:center;"><b>{{ item.key }}</b></td>
                <td style="text-align:center;color:#3498DB;"><b>{{ item.type }}</b></td>
                <td style="text-align:center;color:#DE3163;"><b>{% if item.required %} ✔ {% endif %}</b></td>
                <td style="text-align:center;color:#99A3A4"><b>{{ item.desc }}</b></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {{ doc.content_markdown | markdownify }}

        {% if doc.l_code_blocks and doc.l_code_blocks[0].code %}
        {% for block in doc.l_code_blocks %}
        {% include syntax-highlight.html block=block %}
        {% endfor %}
        {% endif %}
    </section>
    {% if doc.r_code_blocks and doc.r_code_blocks[0].code %}
    <section class="right-code">
        {% for block in doc.r_code_blocks %}
        {% include syntax-highlight.html block=block %}
        {% endfor %}
    </section>
    {% endif %}
</section>
{% endfor %}
{% endfor %}
