<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GoChat</title>
    <base href="">
    <base target="_blank">
</head>

<body>

<h1>Sign in to GoChat</h1>

<img class="" src="/static/img/chat.png" style="width:80px;height:80px" alt=""/>

<form action="/sign_in" method="post" style="font-size:20px;">
    Username<br>
    <label><input type="text" placeholder="" name="uid" required style="font-size:18px;"></label><br>
    Password<br>
    <label><input type="text" placeholder="" name="pwd" required style="font-size:18px;"></label><br><br>
    <input type="submit" style="font-size:20px;" value="Sign in">
</form>
<br>

<a href="https://github.com/duruyao/gochat" style="color:blue;font-size:20px;">Deploy your own GoChat Service</a>

</body>

</html>